body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', serif;
    color: rgb(235, 53, 53);
}

.image1,
.image2,
.image3 {
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image1 {
    background-image: url("image1.jpg");
    min-height: 100%;
}

.image2 {
    background-image: url("image2.jpg");
    min-height: 100%;
}

.image3 {
    background-image: url("image3.jpg");
    min-height: 100%;
}

iframe{
    border-radius: 15px;
    margin-top: 30vh;
}

.video{
    text-align: center;
    display: block;
}